<p>
    <%= form.label :employer %><br>
    <%= form.text_field :employer %>
</p>

<p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
</p>

<p>
    <%= form.label :startDate %><br>
    <%= form.text_field :startDate %>
</p>

<p>
    <%= form.label :endDate %><br>
    <%= form.text_field :endDate %>
</p>

<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
</p>