<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
</p>

<p>
    <%= form.label :project_type %><br>
    <%= form.text_field :project_type %>
</p>

<p>
    <%= form.label :images %><br>
    <%= form.text_field :images %>
</p>

<p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
</p>