<p>
    <%= form.label :code %><br>
    <%= form.text_field :code %>
</p>

<p>
    <%= form.label :school %><br>
    <%= form.text_field :school %>
</p>

<p>
    <%= form.label :credits %><br>
    <%= form.text_field :credits %>
</p>

<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :courseplan %><br>
    <%= form.text_field :courseplan %>
</p>

<p>
    <%= form.label :state %><br>
    <%= form.text_field :state %>
</p>

<p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
</p>